

   <div id="modalEndGame" class="modal">
    <div class="modal-content">
      <h4><span id="endHeadText">[WINNER NAME]a gagné la partie !</span><br>
      <small id="endGameReason">Fin du jeu, [END GAME REASON NOT INITIALIZED] </small></h4>
    </div>
    <div class="modal-footer">
      <a href="#" id="restartGameButtonEnd" onclick="javascript:location.reload()" class="waves-effect waves-light btn red"><i class="material-icons left">replay</i>Recommencer une partie</a>
    </div>
  </div>

  <div id="restarToastContent">
    <p>Voulez-vous vraiment recommencer ?</p><br>
    <a href="#" class="waves-effect waves-light btn teal" onclick="javascript:location.reload()"><i class="material-icons left">thumb_up</i>Oui</a>
  </div>