
    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3 center-align">
                <h4><span id="player1nameholder" class="green-text">Joueur 1</span> vs <span id="player2nameholder" class="red-text">Joueur 2</span></h4>
                <h5><small>La main est au joueur <span id="currentplayernameholder">[PLAYER NAME NOT INITIALIZED]</span></small></h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3 l4 offset-l4">
                <div id="gameGrid">
                    <div class="square blue-grey lighten-4" data-belong="false" data-selected="false" data-id=1 data-x=0 data-y=0>
                        <div class="content">
                            <div class="table">
                                <div class="table-cell center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="square blue-grey lighten-4" data-belong="false" data-selected="false" data-id=2 data-x=0 data-y=1>
                        <div class="content">
                            <div class="table">
                                <div class="table-cell center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="square blue-grey lighten-4"  data-belong="false" data-selected="false" data-id=3 data-x=0 data-y=2>
                        <div class="content">
                            <div class="table">
                                <div class="table-cell center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="square blue-grey lighten-4"  data-belong="false" data-selected="false" data-id=4 data-x=1 data-y=0>
                        <div class="content">
                            <div class="table">
                                <div class="table-cell center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="square blue-grey lighten-4"  data-belong="false" data-selected="false" data-id=5 data-x=1 data-y=1>
                        <div class="content">
                            <div class="table">
                                <div class="table-cell center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="square blue-grey lighten-4"  data-belong="false" data-selected="false" data-id=6 data-x=1 data-y=2>
                        <div class="content">
                            <div class="table">
                                <div class="table-cell center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="square blue-grey lighten-4"  data-belong="false" data-selected="false" data-id=7 data-x=2 data-y=0>
                        <div class="content">
                            <div class="table">
                                <div class="table-cell center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="square blue-grey lighten-4"  data-belong="false" data-selected="false" data-id=8 data-x=2 data-y=1>
                        <div class="content">
                            <div class="table">
                                <div class="table-cell center"></div>
                            </div>
                        </div>
                    </div>
                    <div class="square blue-grey lighten-4"  data-belong="false" data-selected="false" data-id=9 data-x=2 data-y=2>
                        <div class="content">
                            <div class="table">
                                <div class="table-cell center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 offset-m4 center-align">
                <a href="#gameGrid" id="validateTourButton" class="disabled waves-effect waves-light btn"><i class="material-icons left">done</i>Valider le tour</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 offset-m4 center-align">
                <a href="#gameGrid" id="restartGameButton" class="waves-effect waves-light btn red"><i class="material-icons left">replay</i>Redémarrer la partie</a>
            </div>
        </div>
    </div>